In [2]:
from __future__ import print_function, division
from bs4 import BeautifulSoup
import re
import pandas as pd
import random
from ast import literal_eval #string to dict function

In [2]:
import requests

requests.__path__

['/Users/noramay/anaconda3/lib/python3.7/site-packages/requests']

In [ ]:
#lecture note: Choose model with care. is it fast? slow? interpretable? accurate?

In [3]:
#import imdb dataframe
df = pd.read_csv('title.basics.csv', sep = '\t')

/Users/noramay/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [11]:
#create df of just episode information
episode_title_df = df[df['titleType'] == 'tvEpisode']

In [29]:
episode_title_df.sample()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2960960,tt3957114,tvEpisode,The Rise of the Antichrist,The Rise of the Antichrist,0,2008,\N,76,Reality-TV

In [12]:
#create df of just series information
series_title_df = df[df['titleType'] == 'tvSeries']

In [30]:
series_title_df.sample()

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
4566292,tt7503542,tvSeries,Boys Only Club,Boys Only Club,0,2017,\N,\N,Talk-Show

In [ ]:
#df of each episode and corresponding series code 
epi_series_df = pd.read_csv('title.episode.tsv', sep = '\t')

In [31]:
epi_series_df.sample()

            tconst parentTconst seasonNumber episodeNumber
1056502  tt1908832    tt0320037            9           123

In [21]:
rating_df = pd.read_csv('title.ratings.tsv', sep = '\t')

In [34]:
rating_df.sample()

           tconst  averageRating  numVotes
527690  tt1611176            6.4        12

In [24]:
series_title_df.sample(10)

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
397275,tt0413528,tvSeries,Agony,Agony,0,1999,\N,30,\N
4532834,tt7432422,tvSeries,University of the Air,University of the Air,0,1961,1966,30,Documentary
5372078,tt9214736,tvSeries,Trader,Trader,0,\N,\N,\N,\N
2908271,tt3839822,tvSeries,The Son,The Son,0,2017,\N,44,"Drama,Western"
2965318,tt3966654,tvSeries,Greek Lessons for KJV-Only Baptists,Greek Lessons for KJV-Only Baptists,0,2013,\N,\N,Reality-TV
2160028,tt2248752,tvSeries,Stilski izziv,Stilski izziv,0,1998,2002,\N,Talk-Show
2797297,tt3586552,tvSeries,Za dêtaman: Supôtsu no shinjitsu wa suuji ni ari,Za dêtaman: Supôtsu no shinjitsu wa suuji ni ari,0,2013,\N,\N,Sport
3072373,tt4205770,tvSeries,AOL Hardwired 2.0,AOL Hardwired 2.0,0,2014,\N,\N,News
992929,tt1024159,tvSeries,Gala,Gala,0,2002,\N,60,"Music,Talk-Show"
2834033,tt3671376,tvSeries,The Surfers Life,The Surfers Life,0,2008,2009,\N,Sport

In [25]:
epi_series_df[epi_series_df['parentTconst']== 'tt3839822'] #experiment using "The Son"

            tconst parentTconst seasonNumber episodeNumber
2352231  tt5541044    tt3839822            1             1
2472870  tt5924300    tt3839822            1             2
2472872  tt5924306    tt3839822            1             3
2491356  tt5980386    tt3839822            1             4
2491357  tt5980388    tt3839822            1             5
2550914  tt6166012    tt3839822            1             8
2557583  tt6184940    tt3839822            1             6
2557612  tt6185044    tt3839822            1             7
2694239  tt6590564    tt3839822            1             9
2694242  tt6590572    tt3839822            1            10
2795965  tt6882994    tt3839822            2             1
3056111  tt7604280    tt3839822            2             3
3134090  tt7817200    tt3839822            2             4
3166705  tt7906232    tt3839822            2             5
3168735  tt7911730    tt3839822            2             6
3168747  tt7911754    tt3839822            2             7
3185836  tt7958622    tt3839822            2             2
3185839  tt7958630    tt3839822            2             8
3243148  tt8111310    tt3839822            2             9
3294830  tt8248918    tt3839822           \N            \N
3308578  tt8285518    tt3839822            2            10

In [26]:
episode_title_df[episode_title_df['tconst'] == 'tt5541044']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
3669389,tt5541044,tvEpisode,First Son of Texas,First Son of Texas,0,2017,\N,49,"Drama,Western"

In [27]:
rating_df[rating_df['tconst'] == 'tt5541044']

           tconst  averageRating  numVotes
798268  tt5541044            7.6       299

      tconst parentTconst seasonNumber episodeNumber
0  tt0041951    tt0041038            1             9
1  tt0042816    tt0989125            1            17
2  tt0042889    tt0989125           \N            \N
3  tt0043426    tt0040051            3            42
4  tt0043631    tt0989125            2            16

#### Scrape it!

In [447]:
#take a 'title' from imdb dataframe and grab all information from omdb api, if it is a TV series or episode
def get_next_entry(medium, idnum):
    #if medium == 'tvSeries':
    #    url = 'http://www.omdbapi.com/?i={}&apikey=14c936cf'.format(idnum)
    #    response = requests.get(url)
    #    page = response.text
    #   soup = BeautifulSoup(page, "lxml")
    #    soup.prettify();
    #    entryshow = soup.find("p").text
    #    dictshow = literal_eval(entryshow)
    #    print('series')
    #    return dictshow
    if medium == 'tvEpisode':
        url = 'http://www.omdbapi.com/?i={}&apikey=14c936cf'.format(idnum)
        response = requests.get(url)
        page = response.text
        soup = BeautifulSoup(page, "lxml")
        soup.prettify();
        entryepi = soup.find("p").text
        dictepi = literal_eval(entryepi)
        return dictepi
    else:
        return 0

In [221]:
#initialize dataframes with columns from example entries
seriesdf = pd.DataFrame(columns=dict2.keys())
episodedf = pd.DataFrame(columns=dictionary.keys())

In [484]:
#for every entry in csv file, record omdb information into appropriate data frame
#447542
#503782
for i in range(650412,(len(df)-1)):
    print(i)
    dictionary = get_next_entry(df['titleType'][i],df['tconst'][i])
    if dictionary == 0:
        continue
    elif len(dictionary.values()) == 24:
        episodedf = episodedf.append(dictionary, ignore_index =True)
    #elif len(dictionary.values()) == 22:
        #seriesdf = seriesdf.append(dictionary, ignore_index =True)
    else:
        continue

650412
650413
650414
650415
650416
650417
650418
650419
650420
650421
650422
650423
650424
650425
650426
650427
650428
650429
650430
650431
650432
650433
650434
650435
650436
650437
650438
650439
650440
650441
650442
650443
650444
650445
650446
650447
650448
650449
650450
650451
650452
650453
650454
650455
650456
650457
650458
650459
650460
650461
650462
650463
650464
650465
650466
650467
650468
650469
650470
650471
650472
650473
650474
650475
650476
650477
650478
650479
650480
650481
650482
650483
650484
650485
650486
650487
650488
650489
650490
650491
650492
650493
650494
650495
650496
650497
650498
650499
650500
650501
650502
650503
650504
650505
650506
650507
650508
650509
650510
650511
650512
650513
650514
650515
650516
650517
650518
650519
650520
650521
650522
650523
650524
650525
650526
650527
650528
650529
650530
650531
650532
650533
650534
650535
650536
650537
650538
650539
650540
650541
650542
650543
650544
650545
650546
650547
650548
650549
650550
650551
650552
650553
650554
650555
650556
650557
650558
650559
650560
650561
650562
650563
650564
650565
650566
650567
650568
650569
650570
650571
650572
650573
650574
650575
650576
650577
650578
650579
650580
650581
650582
650583
650584
650585
650586
650587
650588
650589
650590
650591
650592
650593
650594
650595
650596
650597
650598
650599
650600
650601
650602
650603
650604
650605
650606
650607
650608
650609
650610
650611
650612
650613
650614
650615
650616
650617
650618
650619
650620
650621
650622
650623
650624
650625
650626
650627
650628
650629
650630
650631
650632
650633
650634
650635
650636
650637
650638
650639
650640
650641
650642
650643
650644
650645
650646
650647
650648
650649
650650
650651
650652
650653
650654
650655
650656
650657
650658
650659
650660
650661
650662
650663
650664
650665
650666
650667
650668
650669
650670
650671
650672
650673
650674
650675
650676
650677
650678
650679
650680
650681
650682
650683
650684
650685
650686
650687
650688
650689
650690
650691
650692
650693
650694
650695
650696
650697
650698
650699
650700
650701
650702
650703
650704
650705
650706
650707
650708
650709
650710
650711
650712
650713
650714
650715
650716
650717
650718
650719
650720
650721
650722
650723
650724
650725
650726
650727
650728
650729
650730
650731
650732
650733
650734
650735
650736
650737
650738
650739
650740
650741
650742
650743
650744
650745
650746
650747
650748
650749
650750
650751
650752
650753
650754
650755
650756
650757
650758
650759
650760
650761
650762
650763
650764
650765
650766
650767
650768
650769
650770
650771
650772
650773
650774
650775
650776
650777
650778
650779
650780
650781
650782
650783
650784
650785
650786
650787
650788
650789
650790
650791
650792
650793
650794
650795
650796
650797
650798
650799
650800
650801
650802
650803
650804
650805
650806
650807
650808
650809
650810
650811
650812
650813
650814
650815
650816
650817
650818
650819
650820
650821
650822
650823
650824
650825
650826
650827
650828
650829
650830
650831
650832
650833
650834
650835
650836
650837
650838
650839
650840
650841
650842
650843
650844
650845
650846
650847
650848
650849
650850
650851
650852
650853
650854
650855
650856
650857
650858
650859
650860
650861
650862
650863
650864
650865
650866
650867
650868
650869
650870
650871
650872
650873
650874
650875
650876
650877
650878
650879
650880
650881
650882
650883
650884
650885
650886
650887
650888
650889
650890
650891
650892
650893
650894
650895
650896
650897
650898
650899
650900
650901
650902
650903
650904
650905
650906
650907
650908
650909
650910
650911
650912
650913
650914
650915
650916
650917
650918
650919
650920
650921
650922
650923
650924
650925
650926
650927
650928
650929
650930
650931
650932
650933
650934
650935
650936
650937
650938
650939
650940
650941
650942
650943
650944
650945
650946
650947
650948
650949
650950
650951
650952
650953
650954
650955
650956
650957
650958
650959
650960
650961
650962
650963
650964
650965
650966
650967
650968
650969
650970
650971
650972
650973
650974
650975
650976
650977
650978
650979
650980
650981
650982
650983
650984
650985
650986
650987
650988
650989
650990
650991
650992
650993
650994
650995
650996
650997
650998
650999
651000
651001
651002
651003
651004
651005
651006
651007
651008
651009
651010
651011
651012
651013
651014
651015
651016
651017
651018
651019
651020
651021
651022
651023
651024
651025
651026
651027
651028
651029
651030
651031
651032
651033
651034
651035
651036
651037
651038
651039
651040
651041
651042
651043
651044
651045
651046
651047
651048
651049
651050
651051
651052
651053
651054
651055
651056
651057
651058
651059
651060
651061
651062
651063
651064
651065
651066
651067
651068
651069
651070
651071
651072
651073
651074
651075
651076
651077
651078
651079
651080
651081
651082
651083
651084
651085
651086
651087
651088
651089
651090
651091
651092
651093
651094
651095
651096
651097
651098
651099
651100
651101
651102
651103
651104
651105
651106
651107
651108
651109
651110
651111
651112
651113
651114
651115
651116
651117
651118
651119
651120
651121
651122
651123
651124
651125
651126
651127
651128
651129
651130
651131
651132
651133
651134
651135
651136
651137
651138
651139
651140
651141
651142
651143
651144
651145
651146
651147
651148
651149
651150
651151
651152
651153
651154
651155
651156
651157
651158
651159
651160
651161
651162

ConnectionError: ('Connection aborted.', ConnectionResetError(54, 'Connection reset by peer'))

In [458]:
len(df)

5598822

In [432]:

'{"Title":"Three Blind Dates","Year":"2002","Rated":"TV-PG","Released":"05 Mar 2002","Season":"9","Episode":"17","Runtime":"22 min","Genre":"Comedy","Director":"Kelsey Grammer","Writer":"David Angell (created by), Peter Casey (created by), David Lee (created by), Gayle Abrams, Glen Charles (based on the character "Frasier Crane" created by), Les Charles (based on the character "Frasier Crane" created by)","Actors":"N/A","Plot":"It's been a few months since Frasier has been out on a date, so Niles & Daphne, Roz and Martin each take a shot at setting him up with someone. However, perhaps fate is the best matchmaker.","Language":"English","Country":"USA","Awards":"N/A","Poster":"N/A","Ratings":[{"Source":"Internet Movie Database","Value":"7.6/10"}],"Metascore":"N/A","imdbRating":"7.6","imdbVotes":"232","imdbID":"tt0582565","seriesID":"tt0106004","Type":"episode","Response":"True"}
missed:         '
4187202

''

In [477]:
df[df['tconst']=='tt0671588']

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
650183,tt0671588,tvEpisode,Episode #1.1343,Episode #1.1343,0,2004,\N,\N,Drama

In [485]:
episodedf.columns

Index(['Response', 'Error', 'Actors', 'Awards', 'Country', 'Director',
       'Episode', 'Genre', 'Language', 'Metascore', 'Plot', 'Poster', 'Rated',
       'Ratings', 'Released', 'Runtime', 'Season', 'Title', 'Type', 'Writer',
       'Year', 'imdbID', 'imdbRating', 'imdbVotes', 'seriesID'],
      dtype='object')

In [486]:
seriesdf.columns

Index(['Title', 'Year', 'Rated', 'Released', 'Runtime', 'Genre', 'Director',
       'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster',
       'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'Type',
       'totalSeasons', 'Response'],
      dtype='object')

#### Pickle it!

In [370]:
import pickle

In [483]:
with open('my_data_tvepisode.pkl', 'wb') as picklefile:
    pickle.dump(episodedf, picklefile)

In [438]:
with open('my_data_tvseries.pkl', 'wb') as picklefile:
    pickle.dump(seriesdf, picklefile)

In [312]:
dict2 = get_next_entry(smalldf2['titleType'][1],smalldf2['tconst'][1])

{'Title': 'Heart of a Samurai',
 'Year': '2009–',
 'Rated': 'N/A',
 'Released': '01 Jan 2009',
 'Runtime': 'N/A',
 'Genre': 'Drama',
 'Director': 'N/A',
 'Writer': 'N/A',
 'Actors': 'Satoshi Tsumabuki, Michiko Kichise, Nobuko Miyamoto, Akira Takahashi',
 'Plot': 'N/A',
 'Language': 'Japanese',
 'Country': 'Japan',
 'Awards': 'N/A',
 'Poster': 'https://images-na.ssl-images-amazon.com/images/M/MV5BM2I2NDg5ZGUtZjg0OC00NTQxLTg4NGItYjJiMGRjZDI0NjNlXkEyXkFqcGdeQXVyMzE1MjAxNzU@._V1_SX300.jpg',
 'Ratings': [{'Source': 'Internet Movie Database', 'Value': '8.0/10'}],
 'Metascore': 'N/A',
 'imdbRating': '8.0',
 'imdbVotes': '44',
 'imdbID': 'tt1050624',
 'Type': 'series',
 'totalSeasons': '1',
 'Response': 'True'}

In [235]:
dictionary.keys()

dict_keys(['Title', 'Year', 'Rated', 'Released', 'Season', 'Episode', 'Runtime', 'Genre', 'Director', 'Writer', 'Actors', 'Plot', 'Language', 'Country', 'Awards', 'Poster', 'Ratings', 'Metascore', 'imdbRating', 'imdbVotes', 'imdbID', 'seriesID', 'Type', 'Response'])

24

In [250]:
episodedf = pd.DataFrame(columns=dictionary.keys())
episodedf.loc[0] = list(dictionary.values())
#episodedf.append(list(dictionary.values()))

In [288]:
seriesdf = pd.DataFrame(columns = dict2.keys())

NameError: name 'true' is not defined

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt3772062,tvEpisode,Episode #2.20,Episode #2.20,0,2010,\N,\N,Drama
1,tt1050624,tvSeries,Heart of a Samurai,Tenchijin,0,2009,\N,\N,Drama
2,tt6312422,tvEpisode,Episode #1.147,Episode #1.147,0,1956,\N,\N,"Drama,Romance"
3,tt3542626,tvEpisode,Episode dated 1 October 2013,Episode dated 1 October 2013,0,2013,\N,\N,Talk-Show
4,tt8379312,tvEpisode,Family Business,Family Business,0,2018,\N,20,Comedy
5,tt9431422,tvEpisode,Episode #1.11,Episode #1.11,0,2005,\N,\N,Drama
6,tt0022700,movie,Blondie of the Follies,Blondie of the Follies,0,1932,\N,91,"Comedy,Musical"
7,tt2251325,video,Gaped Crusaders 3,Gaped Crusaders 3,1,2008,\N,182,Adult
8,tt1030971,tvEpisode,Episode dated 24 December 1999,Episode dated 24 December 1999,0,1999,\N,\N,News
9,tt7203406,tvEpisode,James Bond Jr Episode 5 'Plunder Down Under' R...,James Bond Jr Episode 5 'Plunder Down Under' R...,0,2015,\N,\N,Comedy
10,tt3892494,tvEpisode,The Phantom of Down to Film,The Phantom of Down to Film,0,2013,\N,\N,Comedy
11,tt9374606,tvEpisode,Episode #1.172,Episode #1.172,0,2008,\N,\N,"Drama,Family"
12,tt4590720,tvEpisode,Episode #30.101,Episode #30.101,0,2014,\N,\N,Drama
13,tt1954539,movie,In My Lifetime: A Presentation of the Nuclear ...,In My Lifetime: A Presentation of the Nuclear ...,0,2011,\N,112,"Documentary,History,News"
14,tt5242924,tvEpisode,Freaky Bikini Beach Party,Freaky Bikini Beach Party,1,2015,\N,35,Adult
15,tt3285872,tvEpisode,Episode dated 7 May 2013,Episode dated 7 May 2013,0,2013,\N,\N,Talk-Show
16,tt5991022,short,I Love You. I Love You.,I Love You. I Love You.,0,2009,\N,12,Short
17,tt3997750,tvEpisode,Solar Hot Dog Cooker,Solar Hot Dog Cooker,0,\N,\N,\N,Reality-TV
18,tt2115789,tvEpisode,Episode dated 8 September 2001,Episode dated 8 September 2001,0,2001,\N,\N,\N
19,tt0040696,movie,The Plunderers,The Plunderers,0,1948,\N,87,Western
20,tt0804280,tvMovie,Schuss ins Blau,Schuss ins Blau,0,2005,\N,65,Documentary
21,tt0907168,tvEpisode,Über den Wolken,Über den Wolken,0,2008,\N,\N,\N
22,tt0642508,tvEpisode,Episode dated 23 September 2005,Episode dated 23 September 2005,0,2005,\N,\N,Talk-Show
23,tt7949994,tvEpisode,O Cum All Ye Faithful Part 3,O Cum All Ye Faithful Part 3,1,2018,\N,\N,Adult
24,tt8041918,short,What Happened to Michael Cooper?,What Happened to Michael Cooper?,0,2014,\N,25,Short
25,tt5142234,short,Snoops,Snoops,0,2015,\N,44,"Comedy,Crime,Mystery"
26,tt1611777,tvEpisode,Episode #2.4,Episode #2.4,0,1986,\N,\N,Drama
27,tt6297532,tvEpisode,"Candy in Look Behind You..., Part 2","Candy in Look Behind You..., Part 2",1,2011,\N,\N,Adult
28,tt1871939,tvEpisode,Episode #2.7,Episode #2.7,0,1980,\N,\N,Family
29,tt0517375,tvEpisode,Poor Little Lambs,Poor Little Lambs,0,1977,\N,60,"Action,Adventure,Drama"
30,tt5011772,short,Perspective,Perspective,0,2015,\N,8,"Documentary,Short"
31,tt4117546,movie,Sahasi Khel: Adventurous Sports,Sahasi Khel: Adventurous Sports,0,2008,\N,45,Documentary
32,tt2490474,tvEpisode,Parked Too Close for Comfort/Have a Nice Trip,Parked Too Close for Comfort/Have a Nice Trip,0,2012,\N,\N,"Crime,Drama,Reality-TV"
33,tt4795064,tvEpisode,Save the Pussycats,Save the Pussycats,0,2015,\N,21,Reality-TV
34,tt8929366,tvEpisode,Episode dated 14 September 2018,Episode dated 14 September 2018,0,2018,\N,\N,\N
35,tt3569942,short,Exploits de cow-boys,Exploits de cow-boys,0,1909,\N,\N,"Documentary,Short,Sport"
36,tt1004990,tvEpisode,Episode #1.184,Episode #1.184,0,2004,\N,\N,"Comedy,Drama,Music"
37,tt1228234,tvEpisode,Villaverdes: Backyard Putting Green,Villaverdes: Backyard Putting Green,0,\N,\N,\N,Reality-TV
38,tt8559696,short,Planeta Terra,Planeta Terra,0,1986,\N,8,"Animation,Short"
39,tt5075802,tvEpisode,Hit My Heart,Hit My Heart,0,2016,\N,\N,Family
40,tt9404908,tvEpisode,Episode #1.69,Episode #1.69,0,2007,\N,\N,Comedy
41,tt9558772,tvEpisode,What to do when facing a dilemma,What to do when facing a dilemma,0,2018,\N,\N,Talk-Show
42,tt0836309,tvEpisode,David Chase,David Chase,0,2006,\N,\N,Talk-Show
43,tt0981224,movie,Midnight Movie,Midnight Movie,0,2008,\N,82,"Fantasy,Horror,Thriller"
44,tt4059056,tvEpisode,Washington Post,Washington Post,0,2012,\N,\N,"Action,Crime,Drama"
45,tt4924894,tvEpisode,No. 1: Pinewood Part 10,No. 1: Pinewood Part 10,0,1937,\N,15,Family
46,tt0080465,movie,Borderline,Borderline,0,1980,\N,99,"Action,Drama"
47,tt4106886,short,Nostradamus,Nostradamus,0,2015,\N,25,"Drama,Short,Thriller"
48,tt7780872,tvEpisode,Episode #1.42,Episode #1.42,0,2004,\N,\N,Drama
49,tt6273254,tvEpisode,Oude liefdes,Oude liefdes,0,2016,\N,\N,Comedy

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
2878158,tt3772062,tvEpisode,Episode #2.20,Episode #2.20,0,2010,\N,\N,Drama
1018374,tt1050624,tvSeries,Heart of a Samurai,Tenchijin,0,2009,\N,\N,Drama
4015197,tt6312422,tvEpisode,Episode #1.147,Episode #1.147,0,1956,\N,\N,"Drama,Romance"
2778651,tt3542626,tvEpisode,Episode dated 1 October 2013,Episode dated 1 October 2013,0,2013,\N,\N,Talk-Show
4977537,tt8379312,tvEpisode,Family Business,Family Business,0,2018,\N,20,Comedy
5475643,tt9431422,tvEpisode,Episode #1.11,Episode #1.11,0,2005,\N,\N,Drama
22340,tt0022700,movie,Blondie of the Follies,Blondie of the Follies,0,1932,\N,91,"Comedy,Musical"
2162301,tt2251325,video,Gaped Crusaders 3,Gaped Crusaders 3,1,2008,\N,182,Adult
999551,tt1030971,tvEpisode,Episode dated 24 December 1999,Episode dated 24 December 1999,0,1999,\N,\N,News
4425457,tt7203406,tvEpisode,James Bond Jr Episode 5 'Plunder Down Under' R...,James Bond Jr Episode 5 'Plunder Down Under' R...,0,2015,\N,\N,Comedy
2931815,tt3892494,tvEpisode,The Phantom of Down to Film,The Phantom of Down to Film,0,2013,\N,\N,Comedy
5448610,tt9374606,tvEpisode,Episode #1.172,Episode #1.172,0,2008,\N,\N,"Drama,Family"
3245371,tt4590720,tvEpisode,Episode #30.101,Episode #30.101,0,2014,\N,\N,Drama
1885660,tt1954539,movie,In My Lifetime: A Presentation of the Nuclear ...,In My Lifetime: A Presentation of the Nuclear ...,0,2011,\N,112,"Documentary,History,News"
3534910,tt5242924,tvEpisode,Freaky Bikini Beach Party,Freaky Bikini Beach Party,1,2015,\N,35,Adult
2667374,tt3285872,tvEpisode,Episode dated 7 May 2013,Episode dated 7 May 2013,0,2013,\N,\N,Talk-Show
3869911,tt5991022,short,I Love You. I Love You.,I Love You. I Love You.,0,2009,\N,12,Short
2979296,tt3997750,tvEpisode,Solar Hot Dog Cooker,Solar Hot Dog Cooker,0,\N,\N,\N,Reality-TV
2041110,tt2115789,tvEpisode,Episode dated 8 September 2001,Episode dated 8 September 2001,0,2001,\N,\N,\N
40011,tt0040696,movie,The Plunderers,The Plunderers,0,1948,\N,87,Western
780150,tt0804280,tvMovie,Schuss ins Blau,Schuss ins Blau,0,2005,\N,65,Documentary
879656,tt0907168,tvEpisode,Über den Wolken,Über den Wolken,0,2008,\N,\N,\N
621512,tt0642508,tvEpisode,Episode dated 23 September 2005,Episode dated 23 September 2005,0,2005,\N,\N,Talk-Show
4775446,tt7949994,tvEpisode,O Cum All Ye Faithful Part 3,O Cum All Ye Faithful Part 3,1,2018,\N,\N,Adult
4818639,tt8041918,short,What Happened to Michael Cooper?,What Happened to Michael Cooper?,0,2014,\N,25,Short
3490361,tt5142234,short,Snoops,Snoops,0,2015,\N,44,"Comedy,Crime,Mystery"
1556973,tt1611777,tvEpisode,Episode #2.4,Episode #2.4,0,1986,\N,\N,Drama
4008113,tt6297532,tvEpisode,"Candy in Look Behind You..., Part 2","Candy in Look Behind You..., Part 2",1,2011,\N,\N,Adult
1806272,tt1871939,tvEpisode,Episode #2.7,Episode #2.7,0,1980,\N,\N,Family
498103,tt0517375,tvEpisode,Poor Little Lambs,Poor Little Lambs,0,1977,\N,60,"Action,Adventure,Drama"
3432237,tt5011772,short,Perspective,Perspective,0,2015,\N,8,"Documentary,Short"
3033249,tt4117546,movie,Sahasi Khel: Adventurous Sports,Sahasi Khel: Adventurous Sports,0,2008,\N,45,Documentary
2333452,tt2490474,tvEpisode,Parked Too Close for Comfort/Have a Nice Trip,Parked Too Close for Comfort/Have a Nice Trip,0,2012,\N,\N,"Crime,Drama,Reality-TV"
3335548,tt4795064,tvEpisode,Save the Pussycats,Save the Pussycats,0,2015,\N,21,Reality-TV
5236742,tt8929366,tvEpisode,Episode dated 14 September 2018,Episode dated 14 September 2018,0,2018,\N,\N,\N
2790338,tt3569942,short,Exploits de cow-boys,Exploits de cow-boys,0,1909,\N,\N,"Documentary,Short,Sport"
974444,tt1004990,tvEpisode,Episode #1.184,Episode #1.184,0,2004,\N,\N,"Comedy,Drama,Music"
1187956,tt1228234,tvEpisode,Villaverdes: Backyard Putting Green,Villaverdes: Backyard Putting Green,0,\N,\N,\N,Reality-TV
5063072,tt8559696,short,Planeta Terra,Planeta Terra,0,1986,\N,8,"Animation,Short"
3460811,tt5075802,tvEpisode,Hit My Heart,Hit My Heart,0,2016,\N,\N,Family
5463049,tt9404908,tvEpisode,Episode #1.69,Episode #1.69,0,2007,\N,\N,Comedy
5535867,tt9558772,tvEpisode,What to do when facing a dilemma,What to do when facing a dilemma,0,2018,\N,\N,Talk-Show
811181,tt0836309,tvEpisode,David Chase,David Chase,0,2006,\N,\N,Talk-Show
951337,tt0981224,movie,Midnight Movie,Midnight Movie,0,2008,\N,82,"Fantasy,Horror,Thriller"
3007090,tt4059056,tvEpisode,Washington Post,Washington Post,0,2012,\N,\N,"Action,Crime,Drama"
3393412,tt4924894,tvEpisode,No. 1: Pinewood Part 10,No. 1: Pinewood Part 10,0,1937,\N,15,Family
78786,tt0080465,movie,Borderline,Borderline,0,1980,\N,99,"Action,Drama"
3028548,tt4106886,short,Nostradamus,Nostradamus,0,2015,\N,25,"Drama,Short,Thriller"
4696240,tt7780872,tvEpisode,Episode #1.42,Episode #1.42,0,2004,\N,\N,Drama
3997111,tt6273254,tvEpisode,Oude liefdes,Oude liefdes,0,2016,\N,\N,Comedy

,tconst,titleType,primaryTitle,originalTitle,isAdult,startYear,endYear,runtimeMinutes,genres
0,tt0000001,short,Carmencita,Carmencita,0,1894,\N,1,"Documentary,Short"
1,tt0000002,short,Le clown et ses chiens,Le clown et ses chiens,0,1892,\N,5,"Animation,Short"
2,tt0000003,short,Pauvre Pierrot,Pauvre Pierrot,0,1892,\N,4,"Animation,Comedy,Romance"
3,tt0000004,short,Un bon bock,Un bon bock,0,1892,\N,\N,"Animation,Short"
4,tt0000005,short,Blacksmith Scene,Blacksmith Scene,0,1893,\N,1,"Comedy,Short"

yay

tconst                    tt0000001
titleType                     short
primaryTitle             Carmencita
originalTitle            Carmencita
isAdult                           0
startYear                      1894
endYear                          \N
runtimeMinutes                    1
genres            Documentary,Short
Name: 0, dtype: object

'0.23.4'